/* @media only screen and (max-width:1200px){
   
}

@media only screen and (max-width:1023px){
   
   
}

@media only screen and (max-width:767px){
   
} */


@media only screen and (max-width:479px){
    .container{
        width: 100%;
    }

    .nav-pills{
        text-align: center;
        font-size: 1rem;
    }

    
}
