@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
}

:root{
    /* #44b6f8 */
    --primary-color: #f61009 ;  
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

/* lists */

.list-nonbullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem ;
}

/* container */

.container {
    padding: 0rem 1rem;
}

.container-centre{
    max-width: 700px;
    margin: auto;
}


/*links*/

.link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
    display: block;
    max-width: 140px;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    text-align: center;
}

.link-secondary{
    color: var(--primary-color);
    display: block;
    max-width: 140px;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    border: 1px solid var(--primary-color);
    text-align: center;
}

.link-primary:hover,
.link-primary:active{
    background-color: #ff514b;
}

.link-secondary:hover,
.link-secondary:active {
    background-color: var(--primary-color);
    color: white;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 3rem;

}

.nav-brand{
    font-weight: bold;
    font-size: 2rem;
}

.nav-span{
    font-size: 2.5rem;
}

.nav-pills{
    text-align: right;
    font-size: 1.5rem;
}

.navigation .link {
    color: white;
    text-align: left;
}

.link-active {
    font-weight: bold;
}

/*header*/

.hero {
    padding: 2rem;

}

.hero-img {
    max-width: 80%;
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading {
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}

.heading-inverted {
    color: var(--primary-color);
}

/* sections */

section{
    padding: 2rem;
}

.section h1{
    text-align: center;
    padding: 2rem;
}

.ow{
    background-color: var(--off-white);
}

.text{
    text-align: center;
}





/* footers */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem ;

}

.footer-header{
    font-size: large ;
    font-weight: bold ;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.bout-me{
    padding: 2rem;
    margin: auto;
    max-width: auto;
}

.fab {
    padding-top: 2rem;
    width: 1rem;
    font-size: 2rem;
    display: inline-block;
    height: 1rem;
}

.fa-github:link,
.fa-github:hover{
    color: #495057;
}

.fa-twitter:link,
.fa-twitter:hover{
    color: #1da1f2
}

.fa-linkedin-in:link,
.fa-linkedin-in:hover{
    color: #0a66c2;
}

.fa-instagram:link,
.fa-instagram:hover{
    color: #c32aa3;
}

.fa-snapchat-ghost:link,
.fa-snapchat-ghost:hover{
    color: #fffc00;
}

.site-header{
    display: block;
    text-align: center;
    padding-top: 10rem;
}

.site-header-content {
    margin: 10px;
}

.snap-code {
    height: 200px;
    width: 200px;
    align-self: center;
    padding: 3rem;
}

.body-color{
    background-color: #fffc00;
}