@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 0px;
}

.bgBody{
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)),url(img/bgPic.svg);
    background-size: cover;
    background-position: center ;
    position: relative;
}

:root {
    /* #44b6f8 */
    --primary-color: #f61009;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

/* lists */

.list-nonbullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

/* container */

.container {
    padding: 0rem 1rem;
}

.container-centre {
    max-width: 700px;
    margin: auto;
}


/*links*/

.link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    display: block;
    max-width: 140px;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    text-align: center;
}

.link-secondary {
    color: var(--primary-color);
    display: block;
    max-width: 140px;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    border: 1px solid var(--primary-color);
    text-align: center;
}

.link-primary:hover,
.link-primary:active {
    background-color: #ff706b;
}

.link-secondary:hover,
.link-secondary:active {
    background-color: #ffbbb8;
    color: var(--primary-color);
}

/* navbar */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 3rem;

}

.nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

.nav-span {
    font-size: 2.5rem;
}

.nav-pills {
    text-align: right;
    font-size: 1.5rem;
}

.navigation .link {
    color: white;
    text-align: left;
}

.link-active {
    font-weight: bold;
}

/*header*/

.hero {
    padding: 2rem;

}

.hero-img {
    max-width: 80%;
    max-width: 350px;
    display: block;
    margin: auto;
    padding-top: 5rem;
}

.hero-heading {
    color: #fdfdff;
    padding-top: 1rem;
    text-align: center;
}

.heading-inverted {
    color: var(--primary-color);
}

/* spaces */

.margin-md {
    margin: 2rem;
}

.button {
    margin-bottom: 1.5rem;
}

/* sections */

section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
    padding: 2rem;
}

.ow {
    background-color: var(--off-white);
}

.text {
    text-align: center;
}

/* footers */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    /* border-top-right-radius: 1rem; */

}

.footer-header {
    font-size: large;
    font-weight: bold;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.bout-me {
    padding: 2rem;
    margin: auto;
    max-width: auto;
}

.fa-github:link,
.fa-github:hover {
    color: #495057;
}

.fa-twitter:link,
.fa-twitter:hover {
    color: #1da1f2
}

.fa-linkedin-in:link,
.fa-linkedin-in:hover {
    color: #0a66c2;
}

.fa-instagram:link,
.fa-instagram:hover {
    color: #c32aa3;
}

.fa-snapchat-ghost:link,
.fa-snapchat-ghost:hover {
    color: #fffc00;
}

.site-header {
    display: block;
    text-align: center;
    padding-top: 10rem;
}

.site-header-content {
    margin: 10px;
}

.snap-code {
    height: 200px;
    width: 200px;
    align-self: center;
    padding: 3rem;
}

.body-color {
    background-color: #fffc00;
}

.para {
    padding-bottom: 1rem;
}

.fa-github,
.fa-twitter,
.fa-linkedin-in,
.fa-instagram,
.fa-snapchat-ghost{
    transition:color 0.2s;
    font-size: 1.5rem;
}

.white-text{
    color: ivory;
}

.fab-icons{
    padding-right: 1rem;
    color: var(--primary-color);
}

.social-icons{
    padding-top: 2rem;
    width: 1rem;
    font-size: 2rem;
    display: inline-block;
    height: 1rem;
}

.fa-edge{
    color:#3277BC ;
}

.fa-ticket-alt{
    color: #f7d655;
}

.fa-digital-tachograph{
    color: #6920b0
}

.fa-question-circle{
    color: green;
}